.container {
  margin: 2rem auto;
  margin-top: 5rem;
  max-width: 22rem;
  padding: 2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #d8f1f1;

}
.container h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}
